.usersWrapper
    padding: 25px
    display: grid
    grid-template-columns: 20% 20% 20% 20% 20%
    justify-content: center
    justify-items: center
    .userBlock
        margin-bottom: 75px
        width: 200px
        display: flex
        border: 1px solid black
        border-radius: 5%
        padding: 20px
        flex-direction: column
        justify-content: center
        img
            align-self: center
            border-radius: 50%
        a
            margin-top: 20px
            align-self: center
            text-decoration: none
            font-family: sans-serif
            font-size: 18px
            color: black
            text-align: center
            &:hover
                text-decoration: underline
        p
            align-self: center
            font-size: 15px
            text-align: center
            font-weight: bold
            font-family: sans-serif
        button
            margin-top: 20px
            border-radius: 5px
            padding: 5px
            outline: none
            border: gray 1px solid
            background: none
            font-family: sans-serif
            font-size: 18px
            &:hover
                cursor: pointer
                background-color: #dbdad5


