.main
    background-color: #ECFC71
    padding: 50px
    .infoBlock
        display: flex
        column-gap: 40px
        .right_side
            .fullname
                font-size: 18px
                font-family: sans-serif
            .lookingForAJob
                font-family: sans-serif
                font-size: 18px
                .lookingForAJobGreen
                    color: green
                .lookingForAJobRed
                    color: red
            .lookingForAJobDescription
                font-family: sans-serif
                font-size: 18px
            .aboutMe
                font-size: 18px
                font-family: sans-serif
            .contacts
                display: flex
                align-items: center
                column-gap: 10px
                a
                    cursor: pointer
                    height: 24px
                p
                    font-family: sans-serif
                    font-size: 18px
            .emptyContacts
                font-family: sans-serif
                font-size: 16px
                color: red

.preloaderWrapper
    display: flex
    align-items: center
    justify-content: center