{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "quotes": ["warn", "single"],
        "no-console": "warn",
        "jsx-quotes": ["warn", "prefer-double"]
    }
}