.wrapper
    padding: 20px
    display: flex
    justify-content: center
    height: 100%
    align-items: center
    flex-direction: column
    h1
        text-transform: uppercase
        font-family: sans-serif
    .formWrapper
        display: flex
        flex-direction: column
        gap: 20px
        .input
            padding: 10px
            border-radius: 15px
            border: 1px solid #d7dade
            outline: none
            font-family: sans-serif
            font-size: 20px
            width: 400px
        label
            column-gap: 10px
        .passwordWrapper    
            position: relative