.container
    max-width: 1700px
    margin: 0 auto

.ant-checkbox .ant-checkbox-inner
    width: 30px
    height: 30px

.ant-checkbox-inner::after
    width: 10px !important
    height: 17px !important
